#registrations-new, #registrations-create, #registrations-edit, #registrations-update{
    .headline{
        margin-left: 60px;
    }
    .field{
        margin-left: 70px;
    }

    input{
        margin-left: 10px;
        padding: 5px;
        min-width: 800px;
        margin-bottom: 20px;
    }
    .button{
        background-color: #fff;
        transition: .25s;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 10px;
        margin-left: 400px;
        min-width: 80px;
    }
    
    .button:hover{
        color: #fff;
        background-color: #000;
    }

    .button{
        cursor: pointer;
    }
}

#sessions-new, #sessions-create, #sessions-edit, #sessions-update{
    .headline{
        margin-left: 60px;
    }
    
    .field{
        margin-left: 70px;
    }

    input[type="email"], input[type="password"]{
        margin-left: 10px;
        padding: 5px;
        min-width: 800px;
        margin-bottom: 20px;
    }
    .button{
        background-color: #fff;
        transition: .25s;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 10px;
        margin-left: 400px;
        min-width: 80px;
    }
    
    .button:hover{
        color: #fff;
        background-color: #000;
    }

    .button{
        cursor: pointer;
    }
}